<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w3-container w3-padding-large" style="margin-left:300px">
    
    <h4><b>About Me</b></h4>
    <p>I'm an graduate student with a bachelor's of science in computer science from University of Maryland, Baltimore County. <br />
        I have an enthusiasm for outdoor activities and sometimes cooking. I enjoy spending time with family and friends and
        playing a variety of video games. I'm currently looking for an fulltime job for software development.
        Please check out my projects and resume. If theres any questions or feedback, you can reach me through my email listed below.</p>
    <hr>
    
    <h4>Technical Skills</h4>
    <p>
      <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
        <i class="fa fa-download w3-margin-right"></i>Download Resume
      </button>
    </p>
    <hr>
    
  </div>
