<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- !PAGE CONTENT! -->
<div class="project" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <!-- <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a> -->
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    </div>
  </header>
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <div class="w3-container w3-white">
        <p><b>VirusMon</b></p>
        <p>This Pokemon word game allows you to choose your team of pokemon from the first generation. 
            The game itself will allow us to battle our roster of Pokémon against a randomly assigned roster of enemy Pokémon. 
            The skill in this game is to find a preferable roster that can defeat the enemies. </p>
      </div>
    </div>

    <div class="w3-third w3-container w3-margin-bottom">

      <div class="w3-container w3-white">
        <p><b>Subnautica Word Game</b></p>
        <p>This implementation of Subnautica, I will be implementing the role of the Diver. 
            The Diver can search for basic materials (such as lead or titanium), combine basic material into advanced material, 
            and then combine advanced material into unique diving equipment. 
            The goal is to build equipment to allow us to exceed the 1000-meter mark for our diving depth.</p>
      </div>
    </div>
    <div class="w3-third w3-container">

      <div class="w3-container w3-white">
        <p><b>Pokemon Word Game</b></p>
        <p>This Pokemon word game allows you to choose your team of pokemon from the first generation. 
            The game itself will allow us to battle our roster of Pokémon against a randomly assigned roster of enemy Pokémon. 
            The skill in this game is to find a preferable roster that can defeat the enemies.</p>
      </div>
    </div>
  </div>
  
  <!-- Second Photo Grid
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/p1.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/p2.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/w3images/p3.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
  </div> -->

  
</div>



